:root {
    font-family: "Inter", sans-serif;
    background-color: #1d1a17;
    user-select: none;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
}

.container {
    width: 550px;
    height: 285px;
    margin: 40px 0 0 0;
}

.entry {
    margin: 0;
    background-color: #6943FF;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 285px;
}

h1 {
    margin-top: 35px;
    font-size: 28px;
    font-weight: 800;
    letter-spacing: -0.0525em;
}

#start-value {
    font-size: 58px;
    font-weight: 800;
    border: 2px solid #B295FF;
    border-radius: 5px;
    background-color: transparent;
    width: 117px;
    height: 83px;
    color: white;
    text-align: center;
    outline: none;
    user-select: text;
    margin-top: 25px;
}

#convert {
    margin-top: 30px;
    background-color: white;
    font-size: 16px;
    font-weight: 500;
    color: #3D3D3D;
    border-radius: 5px;
    box-shadow: 0 1 2 #0000000c;
    border: none;
    padding: 15px;
    width: 117px;
    height: 42px;
}

.results {
    background-color: #F4F4F4;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 444px;
}

.conversion {
    width: 500px;
    height: 109px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

h2 {
    font-size: 20px;
    font-weight: 600;
    color: #5A537B;
    margin: 0;
}

.conversion > p {
    font-size: 14px;
    font-weight: 400;
    color: #353535;
    margin: 15px 0 0 0;
}